<div class="main-header">
  <div class="comtainer">
    <div class="whole-body">
      <div class="row">
        <div class="col l4 offset-l4 m6 offset-m3 s10 offset-s1 amber lighten-4">
          <div class="row">
            <div class="col s4 offset-s4">
              <img src="./img/logo.jpg" alt="" class="responsive-img" />
              <marquee class="marquee" behavior="" direction="">Sign In</marquee>
            </div>
          </div>
          <form action="/login" method="POST" class="center">
            <div class="row">
              <div class="col s8 offset-s2">
                <div class="input-field">
                  <input type="email" name="email" />
                  <label for="email">Email</label>
                </div>
                <div class="input-field">
                  <input type="password" name="password" id="" />
                  <label for="password">Password</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col s8 offset-s2">
                <button class="btn brown lighten-1 sign-in">
                  <i class="fa fa-sign-in-alt"></i> Sign In
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>